ul li {
	list-style-type: none;
}
#navbar {
	position: static;
  display: flex;
  align-items: center;
  justify-content: flex-end;
	background-image: linear-gradient(black, dimgrey);
	color: orange;
}
.navbar-title{
  margin-right: 40%;
}
.navbar-menu-icon {
	margin-right: 1rem;
	font-size: 1.5rem;
  z-index: 3;
}
